/**
 * Kalam - Handwritten Font (3 weights)
 */

/* Light */
@font-face {
    font-family: "Kalam";
    src: url("/src/assets/fonts/Kalam/kalam-v18-latin-300.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Regular */
@font-face {
    font-family: "Kalam";
    src: url("/src/assets/fonts/Kalam/kalam-v18-latin-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Bold */
@font-face {
    font-family: "Kalam";
    src: url("/src/assets/fonts/Kalam/kalam-v18-latin-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
